<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <app-directive-ngif></app-directive-ngif> -->
<!-- <app-directive-ngswitch></app-directive-ngswitch> -->
<!-- <app-directives-ngfor></app-directives-ngfor> -->
<!-- <app-directives-ng-class></app-directives-ng-class> -->
<!-- <app-directive-ngstyle></app-directive-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-ng-content>
  Passando conteúdo para o componente
   <app-operador-elvis></app-operador-elvis>
</app-ng-content> -->
<!-- <app-ng-content>
  <div class="titulo">Título</div>
  <div class ="corpo">
  Passando conteúdo para o componente
</div>
   <app-operador-elvis></app-operador-elvis>
</app-ng-content> -->
<app-custom-directives></app-custom-directives>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
