<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0">
  Lista de cursos:
</div>

<div *ngIf="cursos.length == 0">
  Não há cursos para serem listados.
</div>

<div *ngIf="mostrarCursos">
  Lista de cursos:
</div>

<div *ngIf="!mostrarCursos">
  Não há cursos para serem listados.
</div>
<br>
<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<h5>Hidden como alternativa</h5>
<div [hidden]="!mostrarCursos">
  Lista de cursos:
</div>

<div [hidden]="mostrarCursos">
  Não há cursos para serem listados.
</div>

<!-- exemplo de usar o template ao invés de *-->
<h5> Removendo o * e usando o template</h5>
<ng-template [ngIf]= "mostrarCursos">
<div>Confeitaria</div>
</ng-template>
